body
{
    padding-top: 50px;
    padding-left: 100px;
}

#chartArea {
    width: 500px;
    height: 400px;
}

.bar
{
    display: inline-block;
    margin-right: 2px;
}

.bubble {
    display: inline-block;
    fill-opacity: 0.5;
    stroke: black;
    stroke-weight: 1px;
}

.active {
    fill: blue;
    stroke-width: 3;
}